/* Hide scoll bar */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Preloader ------------------------------------ */
#preloader {
  background: #fff;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disppear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Top bar ------------------------------------ */

.top__bar {
  display: flex;
  align-items: center;
  background: #142159;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 16px 32px 16px 20px;
}

/* hamburguer nav */

.nav__hamburguer {
  display: none;
}

.close-navbar {
  display: none;
}

/* Org__bar */

.info__org--user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info__org--name {
  margin-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

/* User Bar */

/* Dropdowns ---------------*/

/* Dropdown help ---------------*/

.dropdown__help {
  position: relative;
  height: 24px;
}

.dropdown-content--arrow {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background: #ffffff;
  transform: rotate(45deg);
  z-index: -1;
  left: 90px;
  top: -6px;
}

.help__dropdown {
  display: none;
  padding: 24px;
  width: 203px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: absolute;
  top: 33px;
  left: -86px;
  background-color: white;
  z-index: 0;
}

.dropdown-content--arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

.dropdown__help:hover .help__dropdown,
.help__dropdown:hover .help__dropdown {
  display: block;
  animation-name: hover;
  animation-duration: 0.5s;
}

.help__dropdown .help__dropdown--center,
.help__dropdown .help__dropdown--tutors {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: #333333;
  display: block;
}

.help__dropdown .help__dropdown--center {
  margin-bottom: 16px;
}

.help__dropdown .help__dropdown--contact {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #425dc7;
  display: block;
  border-top: 1px solid #f1f2f9;
  padding-top: 21px;
}

.help__dropdown .help__dropdown--tutors {
  margin-bottom: 16px;
}

/* Dropdown notification */

.notification__dropdown--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification__icon {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: -0.005em;

  /* Neutral/Low/Dark */

  color: #000000;
}

.notification__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: -0.005em;

  /* Neutral/Low/Dark */

  color: #000000;
}

.notification__timer {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  text-align: right;

  /* Neutral/Low/Light */

  color: #999999;
}

.notification--information {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  letter-spacing: -0.005em;

  /* Neutral/Low/Medium */

  color: #555555;
  margin: 8px 24px 16px 24px;
}

.input__options--checkbox {
  content: url(../img/empty-box.svg);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.input__options--checkbox:checked {
  content: url(../img/confirm-icon.svg);
  background: #425dc7;
  width: 20px;
  height: 20px;
  padding: 3px;
}

.checkbox__inputs {
  position: relative;
}

.first__selection {
  margin-bottom: 32px;
}

.first__selection::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  background: #000000;
  bottom: 20px;
  left: 9px;
  z-index: -1;
}

.first__selection,
.second__selection {
  display: flex;
  align-items: center;
  gap: 0 12px;
}

.notification__firststep,
.notification__secondstep {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
  color: #000000;
}

.second__selection--anchor {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  letter-spacing: -0.005em;

  /* Primary/Default */

  color: #425dc7;
  position: absolute;
  left: 33px;
}

.report__ready {
  margin-top: 40px;
  padding: 16px 0;
  border-top: 1px solid #f1f2f9;
  border-bottom: 1px solid #f1f2f9;
}

.report__title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 16px;
}

.report__ready--anchor {
  margin-left: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: -0.005em;

  /* Primary/Default */

  color: #425dc7;
}

.report__ready--footer {
  text-align: center;
  padding: 12px 24px 16px 24px;
}

.report__ready--button {
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #425dc7;
  padding: 12px 24px;
}

.report__ready--text {
  width: 225px;
}

.report__ready--icon,
.report__ready--text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: -0.005em;

  /* Neutral/Low/Dark */

  color: #000000;
}

.report__ready--timer {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  text-align: right;

  /* Neutral/Low/Light */

  color: #999999;
}

.dropdown__notification {
  position: relative;
  height: 24px;
}

.arrow--notification {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background: #ffffff;
  transform: rotate(45deg);
  z-index: -1;
  left: 299px;
  top: -6px;
}

.notification__dropdown {
  display: none;
  padding: 24px;
  width: 340px;
  height: 409px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: absolute;
  top: 33px;
  left: -295px;
  background-color: white;
  z-index: 0;
}

.dropdown-content--arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

.dropdown__notification:hover .notification__dropdown,
.notification__dropdown:hover .notification__dropdown {
  display: block;
  animation-name: hover;
  animation-duration: 0.5s;
}

.notification__dropdown .notification__dropdown--center,
.notification__dropdown .notification__dropdown--tutors {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: #333333;
  display: block;
}

.notification__dropdown .notification__dropdown--center {
  margin-bottom: 16px;
}

.notification__dropdown .notification__dropdown--contact {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #425dc7;
  display: block;
  border-top: 1px solid #f1f2f9;
  padding-top: 21px;
}

.notification__dropdown .notification__dropdown--tutors {
  margin-bottom: 16px;
}

/* Dropdown notification */

/* User dropdown */
.user__dropdown--center {
  padding-bottom: 17px;
  border-bottom: 1px solid #f1f2f9;
}

.user__dropdown--name,
.user__dropdown--greetings {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.user__dropdown--name {
  color: #425dc7;
}

.user__options--profile,
.user__options--leave {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: #333333;
  cursor: pointer;
}

.user__options--profile {
  margin-bottom: 8px;
}

.dropdown__user {
  position: relative;
  height: 24px;
}

.dropdown-content--arrow {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background: #ffffff;
  transform: rotate(45deg);
  z-index: -1;
  left: 90px;
  top: -6px;
}

.user__dropdown {
  display: none;
  padding: 24px;
  width: 203px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: absolute;
  top: 35px;
  left: -50px;
  background-color: white;
  z-index: 0;
  cursor: default;
}

.dropdown-content--arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

.dropdown__user:hover .user__dropdown,
.user__dropdown:hover .user__dropdown {
  display: block;
  animation-name: hover;
  animation-duration: 0.5s;
}

.user__dropdown .user__dropdown--center,
.user__dropdown .user__dropdown--tutors {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: #333333;
  display: block;
}

.user__dropdown .user__dropdown--center {
  margin-bottom: 16px;
}

.user__dropdown .user__dropdown--contact {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #425dc7;
  display: block;
  border-top: 1px solid #f1f2f9;
  padding-top: 21px;
}

.user__dropdown .user__dropdown--tutors {
  margin-bottom: 16px;
}

/* End User dropdown */

.nav__user--profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 24px;
}

.nav__user--help,
.nav__user--notification,
.user__profile {
  cursor: pointer;
}

.user__profile {
  display: flex;
  align-items: center;
  gap: 0 12px;
  height: 100%;
}

.user__profile--name {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

@keyframes hover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Main -------------------- */
.main__board {
  display: flex;
  justify-content: flex-start;
}

/* Aside */

.aside__bar {
  height: calc(100vh - 64px);
  width: min(100%, 244px);
  background: #ffffff;
  position: sticky;
  padding: 16px;
  top: 64px;
}

.aside__navbar {
  margin-bottom: 86px;
}

.aside__item--info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside_-bar--items {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}

.aside__bar--item {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  gap: 0 16px;
  padding: 12px 8px;
  transition: all 0.3s ease-in-out;
}

.aside__links.hidden {
  display: none;
}

.aside__links {
  margin: 12px 0 16px 16px;
  padding: 16px;
  position: relative;
  animation: showDisplay 0.3s linear forwards;
  top: 0;
}

@keyframes showDisplay {
  0% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(0);
  }
}

.aside__links a {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #333333;
}

.aside__item--links {
  margin-bottom: 12px;
  position: relative;
}

.aside__item--links::before {
  content: "";
  height: 40px;
  width: 2px;
  position: absolute;
  top: -6px;
  left: -14px;
  background: #d5d5d5;
}

.aside__item--links:hover:before {
  background: #425dc7;
  transition: 0.3s ease-in-out;
}

.aside__bar--item:hover {
  color: #425dc7;
  background: #f1f2f9;
  border-radius: 8px;
}

.aside__item--arrow {
  content: "Olare ";
}

.aside__item--links::before:hover {
  color: #425dc7;
}

.aside__bar--item:hover .aside__item--arrow path,
.aside__bar--item:hover .aside__item--name {
  stroke: #425dc7;
  color: #425dc7;
}

.aside__item--name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: #333333;
  cursor: pointer;
}

.aside__item--active,
.aside__item--name:hover {
  color: #425dc7;
}

.aside__item--arrow {
  margin-left: auto;
}

.arrow--active {
  transform: rotate(180deg);
}

/* Promo */

.aside__promo {
  padding: 16px;
  text-align: center;
  background: #f1f2f9;
  border-radius: 12px;
}

.promo__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  text-align: center;
  letter-spacing: -0.005em;

  /* Neutral/Low/Dark */

  color: #000000;
  margin-top: 8px;
}

.promo__btn {
  background: #425dc7;
  border-radius: 8px;
  width: 100%;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 16px;
  transition: all 0.3s ease-in-out;
}

.promo__btn:hover {
  background: #2e44a1;
}

/* Info */

.info__board {
  background: #f1f2f9;
  flex-grow: 1;
  width: calc(100% - 244px);
  padding: 16px 32px 32px 32px;
  margin-top: 64px;
}

.info__popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #425dc7;
  border-radius: 8px;
  padding: 20px 20px 20px 32px;
}

.info__popup--group {
  display: flex;
  align-items: center;
}

.info__popup--text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  flex-grow: 1;
  margin-left: 16px;
}

.info__popup--link {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  padding: 8px 16px;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
}

.info__popup--link:hover {
  background: #ffffff;
  color: #2e44a1;
}

/* Report Board  */

.report__info {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 16px;
  margin-top: 24px;
}

.report__buttons {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.report__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #ffffff;
  color: #333333;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #ffffff;
}

.report__button:hover {
  color: #425dc7;
  border: 2px solid #425dc7;
  border-color: #425dc7;
  transition: all 0.2s ease-in-out;
}

.report__button--active:hover {
  background: #425dc7;
  color: #ffffff;
  border: 2px solid #425dc7;
}

.report__button--active {
  background: #425dc7;
  color: #ffffff;
}

.report__button--arrow {
  vertical-align: middle;
  margin-left: 4px;
}

.report__button--personalize {
  padding-right: 8px;
}

.report_board--text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #555555;
  margin: 16px 0;
  font-weight: 500;
}

.report_board--datetext {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  letter-spacing: -0.005em;

  /* Primary/Default */

  color: #425dc7;
}

/* General report */

.general__report {
  padding: 24px;
  background: #ffffff;
  border-radius: 8px;
  justify-content: space-between;
  height: min(100%, 502px);
  position: relative;
}

.resales__ranking {
  display: none;
  border: 2px solid #f1f2f9;
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  width: min(100%, 340px);
  height: 434px;
  position: absolute;
  right: 16px;
}

.resales__ranking--title {
  display: flex;
  align-items: center;
  gap: 0 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 24px;
}

.ranking__list--scroll {
  overflow: hidden;
  overflow-y: scroll;
  height: 244px;
}

/* width */
.ranking__list--scroll::-webkit-scrollbar {
  width: 4px;
  border-radius: 32px;
}

.ranking__list--scroll::-webkit-scrollbar {
  width: 4px;
  height: 16px;
}

.ranking__list--scroll::-webkit-scrollbar-track {
  background: #cdd2eb;
  border-radius: 32px;
}

.ranking__list--scroll::-webkit-scrollbar-thumb {
  background: #425dc7;
  border-radius: 32px;
}

.ranking__list--item {
  display: flex;
  align-items: center;
  gap: 0 16px;
  padding: 4px 0px;
}

.ranking__list--item:not(:last-child) {
  margin-bottom: 5px;
}

.ranking__list--position {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Neutral/Low/Dark */

  color: #000000;
  width: 24px;
  height: 24px;
}

.ranking__list--person {
  flex-grow: 1;
}

.ranking__list--name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
}

.ranking__list--status,
.list__status--percentage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__status--requests {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
  color: #555555;
}

.list__status--number {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: -0.005em;

  /* Feedback/Success/Medium */
}

.number__status--positive {
  color: #158f2e;
}

.number__status--negative {
  color: #eb0045;
}

.list__status--percentage {
  margin-right: 16px;
}

.resales__ranking--footer {
  width: 100%;
  margin-top: 24px;
  border-top: 2px solid #f1f2f9;
  text-align: right;
}

.resales__ranking--more {
  border: 1.5px solid #425dc7;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #425dc7;
  margin-top: 23px;
  transition: all 0.3s ease-in-out;
}

.resales__ranking--more:hover {
  background: #425dc7;
  color: #ffffff;
}

.general__report--header {
  display: flex;
  align-items: center;
}

.general__report--icon {
  margin-right: 12px;
}

/* Tabs */

.tab {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 23px;
  gap: 0 24px;
}

/* Style the buttons inside the tab */
.tab button {
  cursor: pointer;
  margin-top: 16px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: #555555;
  transition: all 0.2s ease;
}

.tab button:hover {
  border-bottom: 2px solid #000000;
}

.tab button.active {
  color: #425dc7;
  border-bottom: 2px solid #425dc7;
}

.tabcontent {
  display: none;
  border-top: none;
}

.sales__group--item,
.sales__group {
  display: flex;
  align-items: center;
}

.sales__group {
  justify-content: space-between;
  gap: 0 16px;
  margin-bottom: 48px;
}

.sales__group--item {
  background: #ffffff;
  border: 2px solid #f1f2f9;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 10px;
  width: calc((100% / 3) - 11px);
}

.sales__group--info {
  margin-left: 16px;
  margin-right: 16px;
}

.group__info--name {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
  color: #555555;
}

.group__info--price {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  letter-spacing: -0.005em;

  /* Neutral/Low/Default */

  color: #333333;
}

.graph__legend,
.graph__legend--item {
  display: flex;
  align-items: center;
}

.graph__legend {
  gap: 0 32px;
  margin-top:16px ;
}

.graph__legend--item {
  gap: 0 8px;
}

.legend__item--text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #5b5c5f;
}

.reseales__block--select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 24px;
}

.reseales__block--select:hover {
  border-color: #425dc7;
}

.reseales__block--select:hover .reseale--arrow path {
  border-color: #425dc7;
  stroke: #425dc7;
}

.reseale--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: #333333;
}

.reseale__text--grey {
  color: #999999;
}

.reaseales__block {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.resales__block--left {
  width: 100%;
}

.reseales__block--select {
  padding: 8px 16px;
  border: 2px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  width: min(100%, 280px);
}

.resales__block--right {
  background: #ffffff;
  border: 2px solid #f1f2f9;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 24px;
  width: 40%;
  /* position: absolute;
  right: 0;
  top:0; */
  height: 50vh;
}

/* Insight */

.insights__board {
  padding: 24px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 32px;
}

.insight__board--title {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.insights__board--main {
  margin-top: 32px;
}

.board__main--title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 24px;
}

/* Tabela */

.main__table {
  width: 100%;
  border-collapse: collapse;
}

.main__table--title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #555555;
  border-collapse: collapse;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
  margin: 10px;
  padding-bottom: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #eeeeee;
  border-radius: 8px;
}

.main__table--position {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #425dc7;
  width: 24px;
}

.main__table--name {
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.main__table--line {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.main__table--content {
  display: flex;
  align-items: center;
  gap: 0 16px;
  padding: 10px 16px;
}

.main__table--numberId,
.main__table--departament,
.main__table--price {
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}
.background-purple .main__table--numberId,
.background-purple .main__table--departament,
.background-purple .main__table--price,
.background-purple .main__table--content {
  background: #f1f2f9;
}

.background-purple .main__table--content {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.background-purple .main__table--price {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main__table--row {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.main__table--price {
  padding-right: 48px;
}

/* 62,45 */

/* Tabela */

.table__footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.footer__pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.footer__select--arrow {
  position: relative;
}
.footer__select--arrow:after {
  content: url(../img/down-arrow.svg);
  right: 10px;
  top: -1px;
  position: absolute;
  pointer-events: none;
}

.footer__counter {
  position: relative;
}

.footer__counter span {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #333333;
}

.footer__counter--selection {
  border: 1px solid #999999;
  border-radius: 8px;
  padding: 8px 36px 8px 12px;
  appearance: none;
}

.pagination__number {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #333333;
  cursor: pointer;
  text-align: center;
}

.pagination--1 {
  color: #ffffff;
  padding: 4px;
  width: 24px;
  height: 24px;
  background: #425dc7;
  border-radius: 120px;
}

.pagination--2 {
  padding: 4px;
  width: 24px;
  height: 24px;
}

.pagination--3 {
  padding: 4px;
  width: 24px;
  height: 24px;
}

.pagination--2:hover,
.pagination--3:hover {
  background: #f1f2f9;
  border-radius: 120px;
  padding: 4px;
}

.pagination--2:hover .pagination__number,
.pagination--3:hover .pagination__number {
  color: #425dc7;
}

.arrow__pagination:hover path {
  fill: #425dc7;
  stroke: #ffffff;
  cursor: pointer;
}

.footer__counter--arrow {
  position: absolute;
  bottom: 6px;
  left: calc(49px + 8px + 12px + 1px + 16px + 8px);
}

@media screen and (max-width: 1350px) {
  .nav__hamburguer {
    display: block;
    cursor: pointer;
  }

  .close-navbar {
    cursor: pointer;
  }

  .aside__bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    transform: translateX(-100%);
  }

  .aside__bar.show {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
  }

  .info__popup--link {
    white-space: nowrap;
  }
}

@media screen and (max-width: 985px) {
  .resales__ranking {
    position: relative;
    width: 100%;
    right: 0;
    padding: 16px;
  }

  .reseales__block--select {
    display: none;
  }

  .chart-container {
    margin-top: 0;
  }

  .general__report {
    flex-direction: column;
  }

  .sales__group {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 24px;
  }

  .sales__group {
    gap: 0 16px;
  }

  .sales__group {
    overflow-x: scroll;
  }

  .sales__group::-webkit-scrollbar {
    display: none;
  }

  .aside__bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 64px;
    transform: translateX(-100%);
  }

  .aside__bar.show {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
    width: 100%;
  }

  .main__table--titles {
    display: none;
  }
  .info__board {
    margin-top: 48px;
    padding: 16px;
  }
  .top__bar {
    padding: 8px 16px;
  }
  .user__profile--name {
    display: none;
  }
  .nav__user--profile {
    gap: 0 16px;
  }

  .info__popup--link {
    display: none;
  }
  .info__popup {
    padding: 20px;
  }
  .help__dropdown {
    left: -168px;
  }
  .info__popup--text,
  .info__popup--strongtext {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    width: 100%;
  }

  .report__buttons {
    overflow-x: scroll;
  }

  .report__buttons::-webkit-scrollbar {
    display: none;
  }

  .report__buttons {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .report__button {
    white-space: nowrap;
  }

  .report_board--text {
    display: flex;
    flex-direction: column;
  }

  .tab {
    gap: 0 16px;
  }
  .general__report--block {
    width: 100%;
  }
  .general__report {
    padding: 16px;
  }
  .general__report {
    flex-direction: column;
  }

  .resales__graph {
    width: 100%;
  }
  .graph__legend {
    gap: 0 12px;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
  .graph__legend--item {
    gap: 0 4px;
    white-space: nowrap;
  }

  .resales__ranking {
    width: 100%;
  }

  /* Table */
  .board__main--title {
    margin-bottom: 16px;
  }

  .insights__board {
    padding: 16px 16px 24px;
  }

  .main__table--header,
  .table__item--section {
    display: none;
  }

  .main__table--item {
    flex-direction: column;
    position: relative;
  }

  .product__item {
    width: 100%;
  }
  .table__item--quantity {
    position: absolute;
    bottom: 10px;
    left: 24px;
  }

  .main__table--item {
    padding: 8px;
  }

  .table__item--info {
    margin: 0;
    margin-top: 8px;
    width: 100%;
  }
  .table__item--number {
    margin-left: 48px;
  }
  .table__item--value {
    margin-left: auto;
  }
  .user__dropdown {
    top: 41px;
    left: -163px;
  }
  .dropdown-content--arrow {
    left: 172px;
    top: -6px;
  }

  .table__footer {
    flex-direction: column;
    text-align: center;
    gap: 16px 0;
  }

  .footer__pagination {
    margin: 0 auto;
  }

  .insights__board {
    padding: 16px;
  }

  .main__table--row,
  .main__table--line {
    position: relative;
  }

  .main__table--content {
    padding: 8px;
    padding-bottom: calc(16px + 24px + 8px);
  }

  .main__table--line {
    padding: 0;
  }

  .main__table--numberId,
  .main__table--departament,
  .main__table--price,
  .main__table--position {
    position: absolute;
  }

  .main__table--departament {
    display: none;
  }

  .main__table--price {
    right: 24px;
    bottom: 18px;
    padding: 0;
  }

  .main__table--position {
    bottom: 20px;
    left: 12px;
  }

  .main__table--departament {
    right: 24px;
    bottom: 0;
  }

  .main__table--numberId {
    bottom: 18px;
    left: 30px;
  }

  .background-purple .main__table--content {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px;
    padding-bottom: calc(16px + 24px + 8px);
  }

  .id--purple {
    bottom: 18px;
    left: 32px;
  }
}


@media screen and (max-width: 785px) {
  .sales__group--item {
    width: min(100%, 234px);
    white-space: nowrap;
  }
}

@media screen and (max-width: 360px) {
  .notification__dropdown {
    left: -263px;
  }

  .arrow--notification {
    left: 267px;
  }
}
